@model IEnumerable<NetworksManagement.Data.Models.Device>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row">
        @foreach (var device in Model)
        {
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@device.Name</h5>
                    </div>
                    <div class="card-body">
                        <canvas height="200" class="pingChart" id="@device.Id"></canvas>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/moment.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/chartjs-plugin-streaming.js"></script>
    <script>
        var charts = [];
        $(document).ready(function () {
            $(".pingChart").each(function () {
                var deviceId = this.id;
                var chart = new Chart(this, {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: 'Ping',
                            data: []
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        tooltips: {
                            enabled: false
                        },
                        scales: {

                            xAxes: [{
                                type: 'realtime',   // x axis will auto-scroll from right to left
                                realtime: {         // per-axis options
                                    duration: 20000,    // data in the past 20000 ms will be displayed
                                    refresh: 2000,
                                    // a callback to update datasets
                                    onRefresh: function (chart) {
                                        var data = updateChartData(chart, deviceId);
                                    }
                                }
                            }]
                        }
                    }
                });
            });
        });

        function updateChartData(chart, deviceId) {
            $.ajax({
                url: abstractUrl + "/Tools/DevicePing/" + deviceId
            }).then(function (data) {
                chart.data.datasets.forEach((dataset) => {
                    dataset.data.push({
                        x: Date.now(),
                        y: data
                    });
                });
                chart.update({
                    preservation: true
                });
            });
        }
    </script>
}
