@model IEnumerable<NetworksManagement.Data.Models.Device>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @foreach (var device in Model)
        {
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@device.Name</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" class="myChart" id="@device.Id"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="card-body">
                                    <canvas height="100" class="myChart" id="@device.Id"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>


@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="~/js/moment.js"></script>
    <script src="~/js/Chart.js"></script>
    <script src="~/js/chartjs-plugin-streaming.js"></script>
    <script>
        $(".myChart").each(function () {
            var deviceId = this.id;
            var chart = new Chart(this, {
                type: 'line',               // 'line', 'bar', 'bubble' and 'scatter' types are supported
                data: {
                    datasets: [{
                        data: []            // empty at the beginning
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'realtime',   // x axis will auto-scroll from right to left
                            realtime: {         // per-axis options
                                duration: 20000,    // data in the past 20000 ms will be displayed
                                refresh: 3000,      // onRefresh callback will be called every 1000 ms
                                delay: 1000,        // delay of 1000 ms, so upcoming values are known before plotting a line
                               
                                // a callback to update datasets
                                onRefresh: function (chart) {
                                    chart.data.datasets.forEach(function (dataset) {
                                        dataset.data.push({
                                            x: Date.now(),
                                            y: getLatestData(deviceId)
                                        });
                                    });
                                }
                            }
                        }]
                    }
                }
            });
        });

        function getLatestData(deviceId) {
            
            return Math.random();
        }
    </script>
}
