@using NetworksManagement.Extensions;

@model NetworksManagement.Data.ViewModels.DeviceModelViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title ">Edit  Model</h3>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <form method="post">
                    <div class="p-4 border rounded">
                        <input type="hidden" asp-for="Model.Id" />

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="Model.Name"></label>
                            </div>
                            <div class="col-md-5">
                                <input asp-for="Model.Name" class="form-control" />
                            </div>
                            <span asp-validation-for="Model.Name" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="Model.IsCore"></label>
                            </div>
                            <div class="col-md-5">
                                <input asp-for="Model.IsCore" />
                            </div>
                            <span asp-validation-for="Model.IsCore" class="text-danger"></span>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2">
                                <label asp-for="Model.CategoryId"></label>
                            </div>
                            <div class="col-md-5">
                                <select asp-for="Model.CategoryId" class="form-control"
                                        asp-items="Model.Categories.ToSelectListItem(Model.Model.CategoryId)"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" asp-action="Edit" class="btn btn-primary" title="update informations" asp-route-id="@Model.Model.Id" value="Update" />
                            <a asp-action="Index" class="btn btn-success">Back To List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
