@using NetworksManagement.Infrastructure.Extensions
@using NetworksManagement.Data.Enums

@model NetworksManagement.Data.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title ">Create Device</h3>
                    </div>
                </div>
                <br />
            </div>
            <br />
            <div class="card-body">
                <div class="table-responsive">
                    <form method="post" asp-action="Create">
                        <div class="p-4 border rounded">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label asp-for="Device.Name"></label>
                                </div>
                                <div class="col-md-5">
                                    <input asp-for="Device.Name" class="form-control" />
                                </div>
                                <span asp-validation-for="Device.Name" class="text-danger"></span>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label asp-for="Device.Type" class="control-label"></label>
                                </div>
                                <div class="col-md-5">
                                    <select asp-for="Device.Type" class="form-control" asp-items="Html.GetEnumSelectList<DeviceType>()">
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label asp-for="Device.Group.Name" class="control-label"></label>
                                </div>
                                <div class="col-md-5">
                                    <select asp-for="Device.GroupId" class="form-control" asp-items="Model.Groups.ToSelectListItem()"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">
                                    <label asp-for="Device.Interfaces"></label>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <input type="text" placeholder="interface name" id="addInterface" class="form-control" />
                                        </div>
                                        <div class="col-md-5">
                                            <select id="ipaddress-dropdown" name="ipAddressesList" class="form-control"></select>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="button" id="addInterfaceBtn" value="Add Interface" class="btn btn-default btn-xs" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-6">
                                    <table id="itemsTable" class="table">
                                        <thead>
                                            <tr>
                                                <th> Interface Name </th>
                                                <th> Ip Address </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="submit" class="btn btn-primary" value="Create" />
                                <a asp-action="Index" class="btn btn-success">Back To List</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
    $(document).ready(function () {
        $('#addInterfaceBtn').click(function () {
            var name = $('#addInterface').val();
            var ip = $('#ipaddress-dropdown option:selected').text();

            $('#itemsTable').append(
                '<tr><td>' +
                '<input type="text"  class="form-control" id = "Interface_Name" name = "InterfacesNames" value=' + name + '> </input> ' +
                '</td > <td> ' +
                '<input type="text"  class="form-control" id = "Interface_Address" name = "InterfacesAddresses" value=' + ip + '> </input> ' +
                ' </td> ' +
                '<td><button class="btn btn-default btn-xs" type="button" onclick="$(this).parent().parent().remove();;return false;"> <i class="material-icons">delete_forever</i></button>' +
                '</td></tr > ');
        });
        $('#Device_GroupId').change(getAvailableAddresses);
        getAvailableAddresses();
    });

    function getAvailableAddresses() {
        let dropdown = $('#ipaddress-dropdown');
        let groupId = $('#Device_GroupId option:selected').val();
        const url = "https://localhost:44302/Tools/GetAvailableAdresses/" + groupId;

        dropdown.empty();

        // Populate dropdown with list of available addresses
        $.getJSON(url, function (data) {
            $.each(data, function (key, entry) {
            dropdown.append($('<option></option>').attr('value', entry).text(entry));
            })
        });

        dropdown.prop('selectedIndex', 0);
    }
    </script>
}
