@model NetworksManagement.Data.ViewModels.DeviceViewModel

@{
    ViewData["Title"] = "Details";
}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <div class="row">
                        <div class="col-6">
                            <h3 class="card-title ">Device Details</h3>
                        </div>
                    </div>
                    <br />
                </div>
                <br />
                <div class="card-body">
                    <div class="p-4  border rounded">
                        <input type="hidden" asp-for="Device.Id" />

                        <div class="col-8">
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label asp-for="Device.Name"></label>
                                </div>
                                <div class="col-md-8">
                                    <input asp-for="Device.Name" disabled class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label asp-for="Device.ModelId"></label>
                                </div>
                                <div class="col-md-8">
                                    <input asp-for="Device.Model.Name" disabled class="form-control" />
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-4">
                                    <label asp-for="Device.Group"></label>
                                </div>
                                <div class="col-md-8">
                                    <input asp-for="Device.Group.Name" disabled class="form-control" />
                                </div>
                            </div>

                            <div class="col-1">

                            </div>

                            <div class="col-3">

                            </div>

                            <div class="form-group">
                                <a asp-action="Edit" asp-route-id="@Model.Device.Id" class="btn btn-info">Edit</a>
                                <a asp-action="Index" class="btn btn-success">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
